services:
  db:
    image: postgis/postgis:15-3.3
    container_name: onetouch_db
    restart: always
    environment:
      POSTGRES_DB: onetouch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: onetouch_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
